<!doctype html>
<title>Closing price over the past month</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<div class=page>
  <h1>Closing price over the past month</h1>
  <div class=metanav>

    <h4>
      Enter the following information:
    </h4>

    <form id='userinfoform' method='post' action='index' >
      <p>
    Ticker symbol: <input type='text' name='abbrev' />
      </p>
      <p>
    Also show adjusted closing price <input type="checkbox" name='adjustedClose' />
      </p>
      <p>
    Also show opening price <input type="checkbox" name='openValue' />
      </p>
      <p>
    Also show adjusted opening price <input type="checkbox" name='adjustedOpen' />
      </p>
      <p>
    <input type='submit' value='Submit' />
      </p>
    </form>

  </div>
</div>
